doctype 5
html(lang="en")
  meta(charset="utf-8")
  title The game is on!
  link(rel="stylesheet", href="/style.css")

  #referee
    #time_left_wrapper Time left:
      span#time_left --
    #teams
      #team_yellow Yellow:
        span#team_name --
          #score_wrapper Score:
            #score --
        #team_blue Blue:
          span#team_name --
            #score_wrapper Score:
              #score --

  #field

  script(src="/lib/js/jquery.min.js")
  script(src="/lib/js/d3.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/client.js")
  script(src="http://localhost:35729/livereload.js")
