!!!
html
    head
        title The game is on!
        script(src='/lib/js/jquery.min.js')
        script(src='/lib/js/jcanvas.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/client.js')
    body
        #referee
            #time_left_wrapper Time left:
                span#time_left inf
            #teams
                #team_yellow Yellow:
                    span#team_name undefined
                    #score_wrapper Score:
                        #score 0
                #team_blue Blue:
                    span#team_name undefined
                    #score_wrapper Score:
                        #score 0

        canvas(id='main_canvas', width='700', height='500') Your browser doesn't support canvas. Your browser sucks, by the way.
