doctype 5
html(lang="en")
  meta(charset="utf-8")
  title The game is on!
  link(rel="stylesheet", href="/lib/css/bootstrap.min.css")
  link(rel="stylesheet", href="/lib/css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="/lib/css/font-awesome.min.css")
  link(rel="stylesheet", href="/style.css")

  #field

  #info.container
    ul.breadcrumb
      li
        span#team_blue
          span.team_name --
          &nbsp;
          span.score.badge -
        span &nbsp;&times;&nbsp;
        span#team_yellow
          span.score.badge -
          &nbsp;
          span.team_name --
      li
        i.icon-time
        &nbsp;
        span#time_left --

  script(src="/lib/js/jquery.min.js")
  script(src="/lib/js/bootstrap.min.js")
  script(src="/lib/js/d3.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/client.js")
  if livereload
    script(src="http://localhost:35729/livereload.js")
