$orange = #ff931f
$orange2 = #c57a29
$yellow = #ede528
$yellow2 = #d5c512
$blue = #3276b1
$blue2 = #285e8e
$field_green = #19770f
$white = #efefef
$black = #030303

grab-cursor()
  cursor -webkit-grab
  cursor -moz-grab
  cursor grab

@font-face
  font-family 'Inconsolata'
  font-style normal
  font-weight 400
  src local('Inconsolata'), url('inconsolata.woff') format('woff')

body
  background none
  font-family 'Inconsolata'
  pointer-events none
  height 100%
  width 100%

.controls
  width 30%
  min-width 510px

  .control
    pointer-events all

  [class*="col-"]
    padding 1px

  .btn
    margin 0 2px 0

.modal
  pointer-events all

input.form-control[type="range"]
  box-shadow none
  padding-left 0
  padding-right 0

.progress .progress-desc
  position absolute
  left 2px

#info
  pointer-events none
  padding-top 5px

  .breadcrumb
    display inline-block

#team_blue
  .team_name
    text-shadow #99e 0 0 1px
  .badge
    background-color #99e

#team_yellow
  .team_name
    text-shadow #ee6 0 0 1px
  .badge
    background-color #ee6

#team_blue .badge, #team_yellow .badge
  text-shadow rgba(0, 0, 0, 0.6) 0 0 3px
  box-shadow rgba(0, 0, 0, 0.4) 0 0 3px

#field
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  height 100%
  width 100%
  z-index -1
  background $field_green
  pointer-events all

.robot
  text
    fill #000
    font-size 120px
    text-anchor middle
    alignment-baseline central

  &:hover
    cursor default
    path
      stroke $black
      stroke-width 5px

path.yellow, .yellow path
  fill $yellow
  stroke $yellow2
  stroke-width 5

path.blue, .blue path
  fill $blue
  stroke $blue2
  stroke-width 5

.ball
  fill $orange
  stroke $orange2
  stroke-width 5

  &:hover
    stroke $black
    stroke-width 5px

.grass
  fill $field_green

.field-line
  fill $white

.time-left
  fill rgba(0, 0, 0, 0.4)
  font-size 180px
  text-anchor middle
  white-space pre

.team-name
  fill rgba(0, 0, 0, 0.4)
  font-size 300px

path.left-goal, path.right-goal
  stroke none

.grid
  stroke $black
  stroke-width 1px
  stroke-opacity 0.8

.tip
  text-rendering optimizeLegibility
  text-shadow 0 0 5px rgba(255, 255, 255, 0.7)
  font-size 16px
  color $black

.inactive
  opacity: 0.15
  &.ball
    opacity: 0.25

.jscli
  font-size 14px
  max-height 86px

  output&
    padding 0
    max-height 126px

  input&
    line-height 14px
    outline none

  .success
    color rgb(152, 243, 174)

  .fail
    color rgb(247, 170, 170)

  &-wrap
    background rgba(0, 0, 0, 0.50)
    width 600px
    pointer-events all

  &-container
    pointer-events none

.github-fork-ribbon
  background-color #333
  &:hover
    background-color #666
  a, a:hover
    font inherit
