#field {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #080;
}
.yellow {
  fill: #ff0;
}
.blue {
  fill: #00f;
}
.ball {
  fill: #fb0;
}
.grass {
  fill: #080;
}
.field-line {
  fill: #fff;
}
